/*****************************************************************************
 **************************  Global definition  ******************************
 *****************************************************************************/

body {
    color: #526066;
    font-family: TheMix, sans-serif;
    font-size: 16px;
    background-color: #1c1c1c;
}

/* Font Enforcing */
.fe {
    font-family: TheMix, sans-serif !important;
    font-size: 16px !important;
}

h1,
h2,
h3,
h4 {
    font-family: TheMix, sans-serif;
}

p {
    line-height: 1.6em;
}

/*****************************************************************************
 *************************  Main menu definition  ****************************
 *****************************************************************************/

header {
    background-color: #ffffff;

    .x .menu {
        padding: 5px 20px 10px 0;
        background: none;
        border: none;
        box-shadow: none;

        .item:before {
            background: none;
        }

        .custom {
            border-bottom: 2px solid rgba(0, 0, 0, 0);
        }

        .custom:hover {
            border-bottom: 2px solid #20649b;
        }

        .item,
        .dropdown.item,
        .link.item,
        a.item {
            background: none;
            padding: 20px 0 5px 0;
            margin: 0 0 0 30px;
            font-family: TheMix, sans-serif;
            font-size: 16px;
            color: #20649b;
        }

        .item:hover,
        .dropdown.item:hover,
        .link.item:hover,
        a.item:hover {
            background: none;
            color: #20649b;
        }
    }
}

header.modular {
    position: relative;
    width: 100%;
    height: 700px;
    background-position: bottom center;
    background-size: cover;

    .x .menu {
        .custom:hover {
            border-bottom: 2px solid #ffffff;
        }

        .item,
        .dropdown.item,
        .link.item,
        a.item {
            color: #ffffff;
        }

        .item:hover,
        .dropdown.item:hover,
        .link.item:hover,
        a.item:hover {
            color: #ffffff;
        }
    }

    .organization {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            margin: 0;
            font-family: Skaut, sans-serif;
            font-size: 50px;
            text-align: center;
            color: #ffffff;
        }
    }

    img.main-logo {
        position: absolute;
        width: 200px;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*****************************************************************************
 ************************  Modular pages definitions  ************************
 *****************************************************************************/

section {
    background-color: #ffffff;
}

.news {
    padding: 50px 0;
}

.banner-text p {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.custom-content {
    padding: 60px 0;
}

/*****************************************************************************
 *************************  Default page definition  *************************
 *****************************************************************************/

.title {
    padding: 0 14px;

    h2 {
        padding: 20px 0;
        font-size: 36px;
        font-weight: bold;
        font-family: Skaut, sans-serif;
        letter-spacing: 2px;
        line-height: 1.6em;
        color: #ffffff;
    }
}

.image-background {
    background-image: url("../images/content-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.breadcrumbs {
    padding: 10px 14px 0;

    #breadcrumbs {
        padding: 0;
    }
}

.page {
    padding: 20px 14px 40px;

    h1,
    h2 {
        font-weight: bold;
        font-family: Skaut, sans-serif;
        letter-spacing: 0;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3,
    h4 {
        font-weight: bold;
        font-family: TheMix, sans-serif;
    }

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    h4 {
        font-size: 15px;
    }

    img {
        width: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*****************************************************************************
 **************************  Footer definition  ******************************
 *****************************************************************************/

footer {
    width: 100%;
    background-color: #1c1c1c !important;
    color: #888;

    a {
        color: #ddd;
    }

    .info {
        margin: 0 auto;
        padding: 30px 0 10px;

        h4 {
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }

        p {
            text-align: left;
        }

        ul {
            padding: 0;
            text-align: left;

            li {
                padding-bottom: 5px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #888888;
                }
            }
        }

        .scout-symbol {
            font-family: Skaut;
            font-size: 50px;
            text-decoration: none;
        }
    }

    .copyright {
        margin: 0 auto;
        padding: 0 0 30px;

        p {
            font-size: 13px;
        }
    }
}

/*****************************************************************************
 *************************  Bootstrap redefinition  **************************
 *****************************************************************************/

.container {
    max-width: 960px;
}

.container-fluid {
    padding: 0;
}
