/*****************************************************************************
 **************************  Global definition  ******************************
 *****************************************************************************/

:root {
    --text: #526066;
    --text-light: #888888;
    --text-white: #ffffff;
    --text-dark: #1c1c1c;
    --link: #20649b;
    --link-light: #dddddd;
    --background-dark: #1c1c1c;
    --background-light: #ffffff;
    --footer-bg: var(--background-dark);
    --footer-color: var(--text-light);
    --footer-link: var(--link-light);
}

body {
    color: var(--text);
    font-family: TheMix, sans-serif;
    font-size: 1.2rem;
    background-color: var(--background-dark);
}

/* Font Enforcing */
.fe {
    font-family: TheMix, sans-serif !important;
    font-size: 1.2rem !important;
}

h1,
h2,
h3,
h4 {
    font-family: TheMix, sans-serif;
}

p {
    line-height: 1.6em;
}

/*****************************************************************************
 *************************  Main menu definition  ****************************
 *****************************************************************************/

header {
    background-color: var(--background-light);

    .x .menu {
        padding: 0.5rem 1.5rem 0.8rem 0;
        background: none;
        border: none;
        box-shadow: none;

        .item:before {
            background: none;
        }

        .custom {
            border-bottom: 2px solid rgba(0, 0, 0, 0);
        }

        .custom:hover {
            border-bottom: 2px solid var(--link);
        }

        .item,
        .dropdown.item,
        .link.item,
        a.item {
            background: none;
            padding: 1.5rem 0 0.8rem 0;
            margin: 0 0 0 1.5rem;
            font-family: TheMix, sans-serif;
            font-size: 1.3rem;
            color: var(--link);
        }

        .item:hover,
        .dropdown.item:hover,
        .link.item:hover,
        a.item:hover {
            background: none;
            color: var(--link);
        }
    }
}

header.modular {
    position: relative;
    width: 100%;
    height: 700px;
    background-position: bottom center;
    background-size: cover;

    .organization {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            margin: 0;
            font-family: Skaut, sans-serif;
            font-size: 3.125rem;
            text-align: center;
            color: var(--text-white);
        }
    }

    img.main-logo {
        position: absolute;
        width: 200px;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*****************************************************************************
 **************************  Navigation definitions  *************************
 *****************************************************************************/

header.modular .x .menu {
    .custom:hover {
        border-bottom: 2px solid #ffffff;
    }

    .item,
    .item:hover,
    .dropdown.item,
    .dropdown.item:hover,
    .link.item,
    .link.item:hover,
    a.item,
    a.item:hover {
        color: var(--text-white);
    }
}

.navigation {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
}

.navigation-mobile {
    color: #000;
    width: 100%;
    display: none;
}

@media screen and (max-width: 992px) {
    .navigation {
        display: none;
    }

    .navigation-mobile {
        display: block;
    }
}

.navigation-mobile-popup {
    color: var(--text-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    display: none;
}

.navigation-mobile-popup > .menu {
    width: 100%;
    margin: 0;
    padding: 0;

    .item .header,
    .item .header .text {
        color: var(--text-dark);
    }

    .item .menu a.item {
        color: var(--link);
    }
}

.navigation-mobile .button-menu-open {
    color: var(--text-dark);
    font-size: 2.5rem;
    cursor: pointer;
    padding: 1rem 1rem;
}

.navigation-mobile .button-menu-close {
    position: fixed;
    top: 0.7rem;
    right: 0.7rem;
    z-index: 1001;
    color: var(--text-dark);
    font-size: 2.5rem;
}

/*****************************************************************************
 ************************  Modular pages definitions  ************************
 *****************************************************************************/

section {
    background-color: var(--background-light);
}

.news {
    padding: 50px 0;

    @media (max-width: 992px) {
        .col-sm-12:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.banner-text p {
    font-size: 2.3rem;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-white);
    text-align: center;
    padding: 20px;
}

.custom-content {
    padding: 60px 0;
}

/*****************************************************************************
 *************************  Default page definition  *************************
 *****************************************************************************/

.title {
    padding: 0 14px;

    h2 {
        padding: 20px 0;
        font-size: 2.3rem;
        font-weight: bold;
        font-family: Skaut, sans-serif;
        letter-spacing: 2px;
        line-height: 1.6em;
        color: var(--text-white);
    }
}

.image-background {
    background-image: url("../images/content-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs {
    padding: 1rem 1.2rem 0;

    #breadcrumbs {
        padding: 0;
    }
}

.page {
    padding: 2rem 1.2rem 4rem;

    h1,
    h2 {
        font-weight: bold;
        font-family: Skaut, sans-serif;
        letter-spacing: 0;
    }

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3,
    h4 {
        font-weight: bold;
        font-family: TheMix, sans-serif;
    }

    h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    h4 {
        font-size: 1.3rem;
    }

    img {
        width: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*****************************************************************************
 **************************  Footer definition  ******************************
 *****************************************************************************/

footer {
    width: 100%;
    background-color: var(--footer-bg, #1c1c1c) !important;
    color: var(--footer-color, #888);

    a {
        color: var(--footer-link, #ddd);
    }

    .info {
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 0.8rem;

        h4 {
            font-size: 1.1rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }

        p {
            text-align: left;
        }

        ul {
            padding: 0;
            text-align: left;

            li {
                padding-bottom: 5px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: var(--footer-link);
                }
            }
        }

        .scout-symbol {
            font-family: Skaut;
            font-size: 50px;
            text-decoration: none;
        }
    }

    .copyright {
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 2rem;

        p {
            font-size: 0.8rem;
        }
    }
}

/*****************************************************************************
 *************************  Bootstrap redefinition  **************************
 *****************************************************************************/

.container {
    max-width: 960px;
}

.container-fluid {
    padding: 0;
}

/*****************************************************************************
 **************************  Media queries definition  ***********************
 *****************************************************************************/

@media (max-width: 992px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
