{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 breadcrumbs">
            {% include 'partials/breadcrumbs.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 page">
            <p>{{ page.content|raw }}</p>
        </div>
    </div>
</div>

{% endblock %}