{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 breadcrumbs">
            {% include 'partials/breadcrumbs.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-6 login">
            {% include 'partials/messages.html.twig' %}
            {% include 'partials/forgot-form.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
