{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 breadcrumbs">
            {% include 'partials/breadcrumbs.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 page">
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Titulek</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bilbovky 2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}